%nav.navbar.navbar-fixed-top{role:"navigation"}
	.container{style:"background-color:white;padding-top:0.5em;padding-bottom:0.5em;border-bottom:1px solid #ccc"}
		%strong
			%a{href:"/?query=#{@author}"}= @author
			= @title
		- if params[:mode] == 'line'
			(台詞)
		- elsif params[:mode] == 'sort'
			(ソート)
		%span.pull-right
			%span.dropdown
				%a.dropdown-toggle{:href=>'#',:'data-toggle'=>'dropdown'}
					モード
					%span.caret
				%ul.dropdown-menu
					%li
						%a{href:"#{URI.parse(work_url(params)).path}"} 通常
					%li
						%a{href:"#{URI.parse(work_url(params)).path}?mode=line"} 台詞
					%li
						%a{href:"#{URI.parse(work_url(params)).path}?mode=sort"} ソート
			= "&nbsp;/&nbsp;"
			%a{href:work_url(params)} 青空文庫
			= "&nbsp;/&nbsp;"
			%a{href:'/'} cirrocumulus
.container{style:'padding-top: 4.0em;'}
	!= @doc.to_s
