%nav.navbar.navbar-fixed-top{role:"navigation"}
	.container{style:"background-color:white;padding-top:0.5em;padding-bottom:0.5em;border-bottom:1px solid #ccc"}
		%strong= @author
		%strong= @title
		%span.pull-right
			- # %a#toggle-ruby{href:'#'} ルビ表示
			- # = "/"
			%a{href:"http://www.aozora.gr.jp/cards/#{params[:cards]}/files/#{params[:files]}"} 青空文庫
			= "/"
			%strong
				%a{href:'/'} cirrocumulus
.container
	!= @doc.to_s
:coffeescript
	$('#toggle-ruby').on 'click', (e)->
		e.preventDefault()	
		if $('rt').is(':visible')
			$('rt').hide()
			$('#toggle-ruby').html 'ルビ隠す'
		else
			$('rt').show()
			$('#toggle-ruby').html 'ルビ表示'
